apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: notes-api-servicemonitor
  namespace: monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: notes-api
  namespaceSelector:
    matchNames:
      - notes-api
  endpoints:
    - port: http
      interval: 15s
      path: /metrics
